    /* Loader.css */
    .loader-overlay1 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5000;
    }

    /* Outer Circle */
    .outer-circle1 {
    width: 50px;
    height: 50px;
    border: 6px solid transparent;
    border-top-color: rgb(173, 3, 173);
    border-left-color:rgb(173, 3, 173);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotateOuter 0.9s linear infinite;
    }

    .inner-circle1 {
    width: 30px;
    height:30px;
    border: 6px solid transparent;
    border-top-color: rgb(255, 172, 255);
    border-radius: 90%;
    border-left-color:rgb(255, 172, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotateInner 0.4s linear infinite;
    }

    /* Animations */
    @keyframes rotateOuter {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }

    @keyframes rotateInner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
    }
