
.product-container{
    
}
.product-container-in{
    width: 1300px;
    display: flex;
    margin-top: 50px;

}

/* Left */
.product-container-left{
    width: 45%;
    display: flex;
}
.product-container-images{
    display: flex;
    height: 540px;
    position: sticky;
    top: 0px;

}
.product-container-column-images{
    width: 100px;
    display: flex;
    flex-direction: column;
    align-content: center;
    overflow: hidden;
}
.product-container-column-images img{
    width: 95%;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 8px;
    margin: 1px;
    margin-bottom: 10px;
    cursor: pointer;
}

.product-container-row-images{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 15px;
}
.product-container-row-images div{
    display: flex;
    justify-content: center;
    border: 1px solid rgb(175, 174, 174);
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}

.product-container-row-images div img{
    width: 450px;
}
.product-container-row-images div img{
    transition: 0.4s;
}

.product-left{
    left: 20px;
    bottom: 20px;
    cursor: pointer;
}
.product-right{
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}
.product-add-to-cart{
    font-size: larger;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgb(255, 117, 117);
    background-color: rgb(255, 66, 113);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.product-add-to-cart:hover{
    background-color: rgb(255, 0, 64);
}

/* Right */
.product-container-right{
    width: 45%;

}
.product-right-details{
    border: 1px solid ;
    width: 90%;
    padding: 20px;
    border-radius: 15px;
}
.product-ratings{
    padding: 5px;
    padding-right: 10px;
    border-radius: 8px;
    background-color: rgb(14, 136, 14);
    color: white;
}
.product-get-in{
    padding: 5px;
    width: 140px;
    display: flex;
    color: green;
    background: linear-gradient(to left, #d3ffd9, transparent);
}
.product-price1{
    border-top: 1px solid black;
    border-bottom: 4px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 35px;
    padding: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 8px;
    background-color: red;
    color: white;
}
.product-price{
    border: 2px solid;
    border-bottom: 5px solid;
    display: flex;
    width: 100px;
    border-radius: 10px;
    overflow: hidden;

}
.product-discoundPrice{
    background-color: red;
    color: white;
    display: inline;
    font-size: larger;
    font-weight: bold;
    padding: 8px;
    width: 50%;
}

.product-actualPrice{
    background-color: rgb(251, 255, 0);
    color: rgb(0, 0, 0);
    display: inline;
    font-size: larger;
    font-weight: bold;
    padding: 8px;
    width: 50%;
    position: relative;
}
.product-actualPrice::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 90%;
  height: 2.5px; /* makes the cut thicker */
  background-color: #ff0000; /* red or pinkish color */
  transform: translateY(-50%) rotate(-30deg);
  margin-left: 2px;
}
.product-features{
    border-top: 1px solid;
    display: flex;
    padding-top: 20px;
    margin-top: 50px;
}

.product-features div{
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 130px;
    border-radius: 10px;
    background-color: rgb(255, 245, 251);
}
.product-features div img{
    width: 80px;
}

.product-features p{
    width: 80px;
    font-size: small;
    margin: 5px;
    text-align: center;
}

/* Highlights */
.product-highlights{
    padding: 20px;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 20px;
    margin-top: 30px;
    width: 90%;
}


td{
    width: 50%;
    font-size: small;
    padding: 10px;
}

/* Footer  */
.product-footer-container{
    display: flex;
    justify-content: center;
}
.product-footer{
    width: 1300px;
}

/* Similar Products */

.product-row-1{
    width: 98%;
}
.product-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
}